<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="s">

  <title>DeepStack</title>

  <link rel="icon" href="assets/img/deepstack.png" >



  <!-- Bootstrap core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.css">
 
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="assets/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="assets/css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href=""><img src="assets/img/deepstack.png" width="30" height="30" class="d-inline-block align-top" alt=""> <b style="color: white;" >DeepStack</b>
   </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>

    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100" >
      
      <div class="row h-100" >
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-12" style="font-size: 70px;"><b>DeepStack Activated</b></h1>
            <p class="mb-5">Your DeepStack Installation is Activated. </p>
            <p class="mb-5">Visit the Developer Center for Tutorials and Documentations </p>
            
            <div class="row" >
              <div class="col-sm-8" >
                <a href="http://dev.deepstack.cc" target="_blank" class="btn btn-outline btn-xl js-scroll-trigger" style="margin: 10px;">DeepStack Dev Center</a>
              </div>
              
            </div>

            <div class="row" >
              <div class="col-sm-8" >
                <a href="https://forum.deepstack.cc" target="_blank" class="btn btn-outline btn-xl js-scroll-trigger" style="margin: 10px;">DeepStack Forum </a>
              </div>
              
            </div>

          </div>  </div>
        <div class="col-lg-5 my-auto" style="background-image: url('assets/img/dark-background.png')">

          
    </div>

  
      </div>      

    </div>
  </header>

</body>

</html>
